

/* header */
.page-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 999;
}
.page-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 68px;
}

.site-nav {
  padding-right: 30px; 
  display: flex;
}

.site-nav li{
  color: #333;
  padding: 10px 20px;
}

.site-nav__link {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}
.user_view{
  padding: 0 25px 0 45px;
  margin: 0;
  color: #333;
  border-left: 1px solid #110f30;

}

/* aside nav */
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 250px;
  height: 100%;
  background: #110f30;
  position: fixed;
}
/* .wrapper .sidebar .dark{
  background: #110f30;
}
.wrapper .sidebar .light{
  background: #c6d310;
} */

.main{
  width: 100%;
  margin-left: 250px; 
}

.wrapper .main_content{
  width: 100%;
  margin-left: 250px;
}

/* logo */
.wrapper .sidebar h2{
  color: #b31956;
  padding: 20px 30px;
  margin: 0;
  font-family: 'Roboto Slab';
  border-bottom: 1px solid #bdb8d7;
}

.link{
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 20px 15px;
  font-weight: 700;
  color: #fff;
  border: 4px solid transparent;
}
.link_nav{
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 19px;
  font-weight: 700;
  color: #000;
  border-bottom: 1px solid transparent;
}
.nav-label{
  padding: 0 10px;
}

/* search input */
input{
  width: 300px;
  padding: 10px 40px;
  display: flex;
  outline: none;
  font-size: 17px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  border: transparent;
  outline: none;
}

/* plasholder for the page */
.section__plasephoder{
    margin: 40px auto 0;
    display: flex;
    text-align: center;
    justify-content: center;
}
.section__title{
  color: #110f30;
  font-weight: 700;
}
.section__contant{
  width: 70%;
  padding: 30px;
  margin: 40px auto 0;
  border: 1px solid #110f30;
}
 /* social_media */
 .wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  font-size: 40px;
  background: #110f30;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.error{
  color: rgb(163, 0, 141);
}


/* git page  */

.container_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container_list--item {
  width: 500px;
  background-color: #f4d800;
  padding-bottom: 2%; /* Same as width, sets height */
  /* padding-bottom: 2%; Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  /* position: relative; */
  /* border: 4px solid #f4d800; */
}
.container_list--img{
  background-color: #FFFFFF;
  margin: 50px;
  padding: 40px;
}


/* button */

.btn{
  display: inline-block;
  padding: 0.5em 3em;
  background-color: #f4d800;
  border: 0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  color:#000;
  text-align: center;
  cursor: pointer;
}
.btn:hover{
  color: #110f30;
  }
  
.btn-primery{
  display: inline-block;
  padding: 0.5em 5em;
  background-color: #1f1feb;
  border: 0.16em solid #FFFFFF;
  margin: 1em 0.3em 0.3em 0;
  color:#fff;
  text-align: center;
  cursor: pointer;
}

/* theme  */
.btn-theme{
  display: inline-block;
  padding: 0.5em 3em;
  background-color: #f4d800;
  border: 0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  color:#000;
  text-align: center;
  cursor: pointer;
}
.class-light{
  display: block;
  background-color: #f4d800;
  color: #000;
}
.class-dark{
  display: block;
  background-color: #b31956;
  color: #fff;
}

.theme{

}

/* transtion */
.container_transition {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
